@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<div>
    <a asp-page="Index">Back to List</a>
</div>

<h1 class="display-4">Create</h1>

<h6 class="display-6">Book</h6>
<hr />

<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <small class="form-text text-muted"></small>
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group  col-12 col-md-6 col-lg-4">
            <label asp-for="Book.Description" class="control-label"></label>
            <textarea rows="4" asp-for="Book.Description" class="form-control"></textarea>
            <span asp-validation-for="Book.Description" class="text-danger"></span>
        </div>

    </div>
    <div class="row mt-2">
        <div class="form-group col-lg-3 col-12 col-md-6 ">
            <label asp-for="Book.CategoryId"></label>
            <select asp-for="Book.CategoryId" asp-items="Model.Categories" class="form-control">
                <option value="">Select Category</option>
            </select>
            <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-5 col-12 col-md-6">
            <label asp-for="Book.ThumbnailUrl" class="control-label"></label>
            <input asp-for="Book.ThumbnailUrl" class="form-control" />
            <span asp-validation-for="Book.ThumbnailUrl" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group mt-4">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
